body {
   background-color: #f3f3e9;
   padding: 0px 5px;
}
#profile-image{
    width: 200px;
    height: 200px;
   
}
#whole{
    max-width: 1000px;
    min-width: 800px;

    margin: auto;
    padding: 10px;
    background-color: #c3c3bc;
}
#profile{
    width: 20%;
}